root = true

[*]
indent_style = tab
indent_size = off
max_line_length = off
trim_trailing_whitespace = false
insert_final_newline = true
charset = UTF-8
end_of_line = lf

[*.{md}]
indent_style = space
indent_size = 2
